{% extends 'base.html' %}
{% block body %}
<title>Preços</title>
<div class="container mt-5">
    <h5 class="card-title text-center">Preços do Estacionamento</h5>
    <div class="row justify-content-center">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Dias</th>
                    <th scope="col">Horários</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Segunda à Sexta</td>
                    <td>08:00 às 11:59</td>
                    <td>R$2,00</td>
                </tr>
                <tr>
                    <td>Segunda à Sexta</td>
                    <td>12:00 às 18:00</td>
                    <td>R$3,00</td>
                </tr>
                <tr>
                    <td>Sábado, Domingo e Feriados</td>
                    <td>08:00 às 18:00</td>
                    <td>R$2,50</td>
                </tr>
            </tbody>
        </table>
        <a href="{% url 'sistema:tabela' %}" class="btn btn-primary">
            Criar Tabela de Preços
        </a>
    </div>
</div>
</div>
{% endblock %}