{% extends 'base.html' %}
{% block body %}
<title>Veículos</title>
{% if veiculos %}
{% for veiculo in veiculos %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">{{veiculo.placa|upper}}</h5>
          <p class="card-text">
            Veículo estacionado no dia
            <b>{{veiculo.data_entrada}}</b>
          </p>
          <a href="{% url 'sistema:veiculo' veiculo.placa %}" class="btn btn-primary">
            Verificar Veículo
          </a>
          <a href="{% url 'sistema:pagar' veiculo.placa %}" class="btn btn-danger">
            Realizar Saída
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text">
            <i>Obs: Criar <a href="{% url 'sistema:valores' %}"> Tabela de Preços </a></i>
          </p>
          <p class="card-text">
            <i>Nenhum Veículo registrado no Estacionamento</i>
          </p>
          <a href="{% url 'sistema:entrada' %}" class="btn btn-primary">
            Registrar Veículo
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}